* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: grid;
    place-items: center center;
}

/* Top ribbon */
.top-ribbon {
    background-color: #1c1b29;
    height: 30px;
    width: 100%;
}

.top-ribbon li {
    display: flex;
    float: left;
    padding: 4px 8px;
}

.top-ribbon li img{
    height: 20px;
}

.top-ribbon li a {
    font-size: 20px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

.top-ribbon li:hover {
    transform: scale(1.1);
}

.icons {
    float: right;
    padding: 6px 15px;
    word-spacing: 10px;
}

.icons a i {
    color: white;
}

.icons a i:hover {
    color: #e0d8d8;
}

/* top ribbon close */



/* card */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card1 .container:after{
    background-image: linear-gradient(
        135deg,
    );
}

.details{
    padding: 20px 10px;
}

.details a{
    text-decoration: none;
}

.details a h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details a p{
    border-radius: 7px;
    border: 2px solid white;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
/* card close */

/* botton ribbon */
.bottom-ribbon{
    background-color: #1c1b29;
    height:30px ;
    width: 100%;
}

.bottom-ribbon p{
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 7px;
}

.bottom-ribbon p a{
    font-weight: bold;
    color: #416de4;
    text-decoration: none;
}
/* bottom ribbon close */