@font-face {
    font-family: Poopins;
    src: url(assets/fonts/poopins.ttf);
}

@font-face {
    font-family: Sofia;
    src: url(asset/fonts/sofia.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Navbar style Starts */
.navbar {
    height: 65px;
    width: 100%;
    overflow: hidden;
    background-color: #142930;
}

.navbar .logo {
    display: inline-block;
    /*for text logo -->*/
    /*font-size: 35px; 
    font-family: Poopins;
    font-weight: bold;
    color: #fff; */
}

.navbar .logo img {
    padding: 0 40px;
    height: 60px;
}

.navbar ul {
    float: right;
    margin-right: 40px;
}

.navbar ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0px 10px;
}

.navbar ul .hidden-menu {
    display: none;
}

.navbar ul .hidden-menu a {
    padding: 5px 15px;
}

.navbar ul li a {
    font-family: Poopins;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: ease 0.3s;
}

.navbar ul li a:hover {
    color: #90C9C9;
}

.check-btn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width:800px) {
    .navbar .logo img {
        padding: 3px 40px;
        height: 50px;
    }

    .check-btn {
        display: block;
    }

    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #142930;
        top: 64px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
    }

    .navbar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navbar ul .hidden-menu {
        display: block;
    }

    .navbar ul li a {
        font-size: 25px;
    }

    #check:checked~ul {
        left: 0;
    }

}

/* Navbar style Ends*/